@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    word-wrap: break-word;
    overflow-wrap: break-word;

}

body {
    width: 100%;
    margin: 0 auto;
}

.page-top {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 50px;
    
    
}

.page-top h1 {
    font-size: 50px;
}

.page-top h2,a {
    color: white;
    font-size: 15px;
    text-decoration: none;

}

.page-top a:hover {
    text-decoration: underline;
}

header,main {
    display: block;
}

.module {
    width: 100%;
    height: 100vh;
    text-align: left;
    font-size: 1.6rem;
    white-space: pre-line;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    position: relative; 
}

.module.parallax {
    display: flex;
    flex-direction: column;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.module.parallax1 {
    background-image: url(imagens/background001.jpg);
}

.module.parallax2 {
    background-image: url(imagens/background002.jpg);
}

